/* Generic palette */
/* backgroun-color: var(--text); */
:root{
   --text: #1A1A1A;
   --primary: #00B172;
   --secondary: #FFF;
}

/* Generic CSS */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    background-color: var(--secondary);
}

#spotify-logo{
    width: 190px;
}

nav{
    display: inline-block;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: #1A1A1A;
    text-decoration: none;
    padding: 3px;
}

/* image
/lab-css-spotify-clone/images/landing.jpg
*/

.container {
    display: flex;
    height: 500px;
    color: var(--secondary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("../images/landing.jpg");
    flex-direction: column;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    font-weight: normal;
    position: relative;
    text-align: center;
}


/* Desktop */
@media(width >= 768px){
    body{
        background-color: green;
    }
    h1 {
        display: flex;
        justify-content: center;
    }
}

/* Tablet */
@media(320px <= width < 768px){
    body{
        background-color: orange;
    }
    header {
        justify-content: center;
        flex-direction: column;
    }

    #spotify-logo{
        margin-bottom: 25px;
    }

    .container{
        height: 400px;
    }
}

/* Mobile */
@media(width < 320px){
    body{
        background-color: red;
    }
    header {
        flex-direction: column;
    }

    #spotify-logo{
        margin-bottom: 25px;
    }

    nav a{
        display: block;
        margin: 10px;
    }

    .container{
        height: 200px;
    }
}