body {
    background: rgb(185, 218, 143);
}

h3 {
    text-align: center;
}

.colores3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}

.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.circle1-red{
    background-color: rgb(254, 0, 0);
}

.circle1-green{
    background-color: rgb(1, 255, 2);
}

.circle1-blue{
    background-color: rgb(0, 0, 254);
}

.circle1-purple {
    background: rgb(255, 0, 254);
}

.circle1-water {
    background: rgb(0, 254, 255);
}

.circle1-yellow {
    background: rgb(255, 255, 0);
}

span {
    display: inline-block;
    vertical-align: 45px;
}

.container3 {
    isolation: isolate;
}
  
.obj {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    mix-blend-mode: screen;
}
  
.first {
    background: rgb(254, 0, 0);
}
  
.second {
    background: rgb(1, 255, 2);
    margin-left: 70px;
}
  
.third {
    background: rgb(0, 0, 254);
    margin-left: 35px;
    margin-top: 60px;
}